#about
  %h1
    %span What's this?

  %p 
    Integrity is the angel watching over your shoulder while you code. As soon as you push your commits,
    it builds, runs your tests, and makes sure everything runs fine.
  %p 
    It then 
    %a{ :href => "/notifiers" } reports the build status 
    back to your team so everyone's on the same page, and if there's a problem, you can get it fixed right 
    away.
  %p.more
    Read more about
    = succeed "." do
      %a{ :href => "http://en.wikipedia.org/wiki/Continuous_integration" } continuous integration


#demo
  %h1
    %span Live demo
  
  %p 
    See how integrity works for yourself on our own
    %a{ :href => "http://builder.integrityapp.com" } Integrity
    install, watching integrity and the various
    = succeed "." do
      %a{ :href => "/notifiers" } notifiers

#setup
  %h1 
    %span Set up
  
  %p
    %strong It's ridiculously easy. 
    All you need is to have <code>ruby</code> and <code>rubygems</code> installed on your server, and then do this:
  
  %pre
    %code.shell<
      :preserve
        $ gem sources -a http://gems.github.com
        $ sudo gem install foca-integrity
        $ integrity install /path/to/my/integrity/install

  %p
    This will create a couple files on your server, mainly <code>config.yml</code>, <code>config.ru</code> and
    <code>thin.yml</code>.
  
  %p 
    After 
    %a{ :href => "/configure" } editing those config files 
    to your needs, just do this:
  
  %pre
    %code.shell<
      :preserve
        $ sudo gem install thin
        $ thin -C /path/to/my/integrity/install/thin.yml -R /path/to/my/integrity/install/config.ru start
  
  %p
    Finally, point your web server (nginx, apache, or whatever you like) to proxy requests made to your
    integrity domain to the previous configuration. 

  %p 
    After reloading your webserver's config, you should be gold. Just browse to your
    new Integrity install and add your first project!
  
  %p.more
    Read about
    = succeed "." do
      %a{ :href => "/configure" } configuring integrity

#itworks
  %h1
    %span 
      But does it work with
      = surround "<", ">?" do
        %em insert tech here
  
  %p
    Short answer:
    %strong Yeah!
  
  %p
    Slightly longer answer: as long as your build process can be run from an unix-y 
    environment <strong>and</strong> it returns a <em>zero</em> status code for
    success and <em>non-zero</em> for failure, then integrity works for you.

#suport
  %h1
    %span Support / Development
  
  %p 
    You can get in touch via irc at
    %a{ :href => "irc://irc.freenode.net:6667/integrity" } #integrity
    on freenode.

  %p 
    If no one happens to be around the IRC channel, you can ask in our
    = succeed "." do
      %a{ :href => "http://groups.google.com/group/integrityapp" } Google Group
  
  %p
    If you find a bug, or want to give us a feature request, drop by our
    %a{ :href => "http://integrity.lighthouseapp.com" } Lighthouse
    tracker.
  
  %p
    If you want to check out the code, you can do so at our
    = succeed "." do
      %a{ :href => "http://github.com/foca/integrity" } GitHub project
    